<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" type="image/png" sizes="16x16" href="<%=themeConfig.iconURL%>">
      <title><%=themeConfig.websiteIsim%> - Gizlilik Politikası</title>
      <link href="assets/node_modules/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet">
      <link href="css/colors/default.css" id="theme" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="https://assistants.ga/purecookie.css" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body class="fix-header card-no-border fix-sidebar">
      <%-include('partials/preloader.ejs')%>
      <div id="main-wrapper">
         <%-include('partials/topbar.ejs', {req:req})%>
         <%-include('partials/header.ejs', {now:'pp'})%>
         <div class="page-wrapper">
            <div class="container-fluid">
               <div class="row page-titles">
                  <div class="col-md-5 align-self-center">
                     <h3 class="text-themecolor">Gizlilik Politikası</h3>
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Giriş Menüsü</a></li>
                        <li class="breadcrumb-item active">Gizlilik Politikası</li>
                     </ol>
                  </div>
               </div>
               <div class="row">
                  <div class="col-12">
                     <div class="card">
                        <div>
                           <p>Son Güncelleme: Ağustos 10, 2021</p>
                           <p>Bu Gizlilik Politikası, Hizmeti kullandığınızda bilgilerinizin toplanması, kullanılması ve ifşa edilmesine ilişkin politikalarımızı ve prosedürlerimizi açıklar ve Size gizlilik haklarınızı ve yasaların Sizi nasıl koruduğunu anlatır.</p>
                           <p>Kişisel verilerinizi Hizmeti sağlamak ve iyileştirmek için kullanırız. Hizmeti kullanarak, bu Gizlilik Politikasına uygun olarak bilgilerin toplanmasını ve kullanılmasını kabul edersiniz. Bu Gizlilik Politikası, <a href="https://www.freeprivacypolicy.com/free-privacy-policy-generator/" target="_blank">Gizlilik Politikası Oluşturucu</a>'nun yardımıyla oluşturulmuştur.< /p>
                           <h1>Yorum ve Tanımlar</h1>
                           <h2>Yorum</h2>
                           <p>Baş harfi büyük olan kelimeler aşağıdaki koşullarda tanımlanan anlamlara sahiptir. Aşağıdaki tanımlar, tekil veya çoğul olarak görünüp görünmediklerine bakılmaksızın aynı anlama sahip olacaktır.</p>
                           <h2>Tanımlar</h2>
                           <p>Bu Gizlilik Politikasının amaçları için:</p>
                           <ul>
                           <li>
                           <p><strong>Hesap</strong>, Hizmetimize veya Hizmetimizin bazı bölümlerine erişmeniz için Sizin için oluşturulan benzersiz bir hesap anlamına gelir.</p>
                           </li>
                           <li>
                           <p><strong>Şirket</strong> (bu Sözleşmede "Şirket", "Biz", "Biz" veya "Bizim" olarak anılacaktır) <%=themeConfig.privacypolicy.websitename%> anlamına gelir.< /p>
                           </li>
                           <li>
                           <p><strong>Çerezler</strong>, bir web sitesi tarafından bilgisayarınıza, mobil cihazınıza veya başka bir cihaza yerleştirilen ve birçok kullanımı arasında o web sitesindeki tarama geçmişinizin ayrıntılarını içeren küçük dosyalardır.</p>
                           </li>
                           <li>
                           <p><strong>Cihaz</strong>, bilgisayar, cep telefonu veya dijital tablet gibi Hizmete erişebilen herhangi bir cihaz anlamına gelir.</p>
                           </li>
                           <li>
                           <p><strong>Kişisel Veriler</strong>, kimliği belirli veya belirlenebilir bir kişiyle ilgili her türlü bilgidir.</p>
                           </li>
                           <li>
                           <p><strong>Hizmet</strong>, Web Sitesini ifade eder.</p>
                           </li>
                           <li>
                           <p><strong>Hizmet Sağlayıcı</strong>, verileri Şirket adına işleyen herhangi bir gerçek veya tüzel kişi anlamına gelir. Hizmeti kolaylaştırmak, Şirket adına Hizmeti sağlamak, Hizmetle ilgili hizmetleri gerçekleştirmek veya Şirkete Hizmetin nasıl kullanıldığını analiz etmede yardımcı olmak için Şirket tarafından istihdam edilen üçüncü taraf şirketleri veya bireyleri ifade eder.</ p>
                           </li>
                           <li>
                           <p><strong>Kullanım Verileri</strong>, Hizmetin kullanımıyla veya Hizmet altyapısının kendisinden (örneğin, bir sayfa ziyaretinin süresi) oluşturulan otomatik olarak toplanan verileri ifade eder.</p>
                           </li>
                           <li>
                           <p><strong>Web sitesi</strong>, <%=themeConfig.privacypolicy.websitename%> anlamına gelir ve <a href="%7B%7BwebsiteUrl%7D%7D" rel="external nofollow noopener" target=" adresinden erişilebilir. _blank"><%=themeConfig.privacypolicy.websiteurl%></a></p>
                           </li>
                           <li>
                           <p><strong>Siz</strong>, Hizmete erişen veya Hizmet'i kullanan kişi veya bu kişinin adına Hizmet'e eriştiği veya Hizmet'i kullandığı şirket veya diğer tüzel kişilik anlamına gelir.</p>
                           </li>
                           </ul>
                           <h1>Kişisel Verilerinizi Toplama ve Kullanma</h1>
                           <h2>Toplanan Veri Türleri</h2>
                           <h3>Kişisel Veriler</h3>
                           <p>Hizmetimizi kullanırken, Sizinle iletişim kurmak veya sizi tanımlamak için kullanılabilecek belirli kişisel olarak tanımlanabilir bilgileri Bize sağlamanızı isteyebiliriz. Kişisel olarak tanımlanabilir bilgiler aşağıdakileri içerebilir, ancak bunlarla sınırlı değildir:</p>
                           <ul>
                           <li>
                           <p>Discord kullanıcı adı, kimlik ve avatar</p>
                           </li>
                           <li>
                           <p>Kullanım Verileri</p>
                           </li>
                           </ul>
                           <h3>Kullanım Verileri</h3>
                           <p>Kullanım Verileri, Hizmet kullanılırken otomatik olarak toplanır.</p>
                           <p>Kullanım Verileri, Cihazınızın İnternet Protokol adresi (örn. IP adresi), tarayıcı türü, tarayıcı sürümü, ziyaret ettiğiniz Hizmetimizin sayfaları, ziyaretinizin saati ve tarihi, bu sayfalarda geçirilen süre gibi bilgileri içerebilir. benzersiz cihaz tanımlayıcıları ve diğer teşhis verileri.</p>
                           <p>Hizmet'e bir mobil cihaz aracılığıyla veya aracılığıyla eriştiğinizde, kullandığınız mobil cihazın türü, mobil cihazınızın benzersiz kimliği, mobil cihazınızın IP adresi dahil ancak bunlarla sınırlı olmamak üzere belirli bilgileri otomatik olarak toplayabiliriz. , Mobil işletim sisteminiz, kullandığınız mobil İnternet tarayıcısının türü, benzersiz cihaz tanımlayıcıları ve diğer teşhis verileri.</p>
                           <p>Hizmetimizi her ziyaret ettiğinizde veya bir mobil cihaz aracılığıyla veya aracılığıyla Hizmete eriştiğinizde tarayıcınızın gönderdiği bilgileri de toplayabiliriz.</p>
                           <h3>İzleme Teknolojileri ve Çerezler</h3>
                           <p>Hizmetimizin etkinliğini izlemek ve belirli bilgileri depolamak için Tanımlama Bilgileri ve benzer izleme teknolojilerini kullanırız. Kullanılan izleme teknolojileri, bilgi toplamak ve izlemek ve Hizmetimizi geliştirmek ve analiz etmek için işaretler, etiketler ve komut dosyalarıdır. Kullandığımız teknolojiler şunları içerebilir:</p>
                           <ul>
                           <li><strong>Çerezler veya Tarayıcı Çerezleri.</strong> Çerez, Cihazınıza yerleştirilen küçük bir dosyadır. Tarayıcınıza tüm Çerezleri reddetmesi veya bir Çerez gönderildiğinde belirtmesi için talimat verebilirsiniz. Ancak, Çerezleri kabul etmezseniz Hizmetimizin bazı kısımlarını kullanamayabilirsiniz. Tarayıcı ayarınızı Çerezleri reddedecek şekilde değiştirmediyseniz, Hizmetimiz Çerezleri kullanabilir.</li>
                           <li><strong>Flash Tanımlama Bilgileri.</strong> Hizmetimizin belirli özellikleri, tercihleriniz veya Hizmetimizdeki etkinliğiniz hakkında bilgi toplamak ve depolamak için yerel olarak depolanan nesneleri (veya Flash Tanımlama Bilgilerini) kullanabilir. Flash Tanımlama Bilgileri, Tarayıcı Tanımlama Bilgileri için kullanılanlarla aynı tarayıcı ayarları tarafından yönetilmez. Flash Çerezlerini nasıl silebileceğiniz hakkında daha fazla bilgi için lütfen "Yerel paylaşılan nesneleri devre dışı bırakmak veya silmek için ayarları nerede değiştirebilirim?" bölümünü okuyun. <a href="https://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html#main_Where_can_I_change_the_settings_for_disabling__or_deleting_local_shared_objects_" adresinde bulunabilir rel="harici nofollow noopener" target="_ https://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html#main_Where_can_I_change_the_settings_for_disabling__or_deleting_local_shared_objects_</a></li>
                           <li><strong>Web İşaretçileri.</strong> Hizmetimizin ve e-postalarımızın belirli bölümleri, web işaretçileri olarak bilinen (net gifler, piksel etiketleri ve tek pikselli gifler olarak da anılır) küçük elektronik dosyalar içerebilir. Şirket, örneğin, bu sayfaları ziyaret eden veya bir e-posta açan kullanıcıları saymak ve diğer ilgili web sitesi istatistikleri için (örneğin, belirli bir bölümün popülerliğini kaydetmek ve sistem ve sunucu bütünlüğünü doğrulamak).</li>
                           </ul>
                           <p>Çerezler "Kalıcı" veya "Oturum" Çerezleri olabilir. Kalıcı Çerezler, çevrimdışı olduğunuzda kişisel bilgisayarınızda veya mobil cihazınızda kalırken Oturum Çerezleri, web tarayıcınızı kapatır kapatmaz silinir. Çerezler hakkında daha fazla bilgi edinin: <a href="https://www.freeprivacypolicy.com/blog/cookies/" target="_blank">Çerezler: Ne Yaparlar?</a>.</p>
                           <p>Aşağıda belirtilen amaçlar için hem Oturum hem de Kalıcı Çerezleri kullanıyoruz:</p>
                           <ul>
                           <li>
                           <p><strong>Gerekli / Temel Çerezler</strong></p>
                           <p>Tür: Oturum Çerezleri</p>
                           <p>Yönetim: Biz</p>
                           <p>Amaç: Bu Çerezler, Size Web Sitesi aracılığıyla sunulan hizmetleri sağlamak ve Sitenin bazı özelliklerini kullanmanızı sağlamak için gereklidir. Kullanıcıların kimliğinin doğrulanmasına ve kullanıcı hesaplarının dolandırıcılık amaçlı kullanılmasını önlemeye yardımcı olurlar. Bu Çerezler olmadan, istediğiniz hizmetler sağlanamaz ve bu Çerezleri yalnızca Size bu hizmetleri sağlamak için kullanırız.</p>
                           </li>
                           <li>
                           <p><strong>Çerez Politikası / Bildirim Kabul Çerezleri</strong></p>
                           <p>Tür: Kalıcı Çerezler</p>
                           <p>Yöneten: Biz</p>
                           <p>Amaç: Bu Çerezler, kullanıcıların Web Sitesinde çerez kullanımını kabul edip etmediğini belirler.</p>
                           </li>
                           <li>
                           <p><strong>İşlevsellik Çerezleri</strong></p>
                           <p>Tür: Kalıcı Çerezler</p>
                           <p>Yöneten: Biz</p>
                           <p>Amaç: Bue Çerezler, giriş bilgilerinizi veya dil tercihinizi hatırlamak gibi Web Sitesini kullandığınızda yaptığınız seçimleri hatırlamamızı sağlar. Bu Çerezlerin amacı, Size daha kişisel bir deneyim sunmak ve Web Sitesini her kullandığınızda tercihlerinizi yeniden girmek zorunda kalmanızı önlemektir.</p>
                        </li>
                        </ul>
                        <p>Kullandığımız çerezler ve çerezlerle ilgili tercihleriniz hakkında daha fazla bilgi için lütfen Çerez Politikamızı veya Gizlilik Politikamızın Çerezler bölümünü ziyaret edin.</p>
                        <h2>Kişisel Verilerinizin Kullanımı</h2>
                        <p>Şirket Kişisel Verileri aşağıdaki amaçlarla kullanabilir:</p>
                        <ul>
                        <li>
                        <p><strong>Hizmetimizi sağlamak ve sürdürmek için</strong>, Hizmetimizin kullanımını izlemek de dahil.</p>
                        </li>
                        <li>
                        <p><strong>Hesabınızı yönetmek için:</strong> Hizmet kullanıcısı olarak kaydınızı yönetmek için. Sağladığınız Kişisel Veriler, Kayıtlı bir kullanıcı olarak Size sunulan Hizmetin farklı işlevlerine erişmenizi sağlayabilir.</p>
                        </li>
                        <li>
                        <p><strong>Bir sözleşmenin ifası için:</strong> Satın aldığınız ürünler, öğeler veya hizmetler için satın alma sözleşmesinin veya Hizmet aracılığıyla Bizimle yapılan herhangi bir sözleşmenin geliştirilmesi, uygunluğu ve üstlenilmesi.</strong> p>
                        </li>
                        <li>
                        <p><strong>Sizinle iletişim kurmak için:</strong> Sizinle e-posta, telefon görüşmeleri, SMS veya bir mobil uygulamanın güncellemelerle ilgili anlık bildirimleri veya işlevlerle ilgili bilgilendirici iletişimler gibi diğer eşdeğer elektronik iletişim biçimleri yoluyla iletişime geçmek için, uygulanması için gerekli veya makul olduğunda, güvenlik güncellemeleri de dahil olmak üzere ürünler veya sözleşmeli hizmetler.</p>
                        </li>
                        <li>
                        <p><strong>Size</strong> sunmak için</strong>, önceden satın aldığınız veya talep ettiğiniz ürünlere benzer sunduğumuz diğer mallar, hizmetler ve etkinlikler hakkında haberler, özel teklifler ve genel bilgiler sağlamak için, siz seçmediyseniz. bu tür bilgileri alın.</p>
                        </li>
                        <li>
                        <p><strong>Taleplerinizi yönetmek için:</strong> Bize gelen taleplerinize katılmak ve bunları yönetmek için.</p>
                        </li>
                        <li>
                        <p><strong>İş transferleri için:</strong> Bilgilerinizi bir birleşme, elden çıkarma, yeniden yapılandırma, yeniden düzenleme, tasfiye veya varlıklarımızın bir kısmının veya tamamının başka bir şekilde satılması veya devrini değerlendirmek veya yürütmek için kullanabiliriz. Hizmet kullanıcılarımız hakkında tarafımızca tutulan Kişisel Verilerin devredilen varlıklar arasında yer aldığı iflas, tasfiye veya benzeri bir işlemin devamı veya bir parçası olarak.</p>
                        </li>
                        <li>
                        <p><strong>Diğer amaçlar için</strong>: Bilgilerinizi veri analizi, kullanım eğilimlerini belirleme, promosyon kampanyalarımızın etkinliğini belirleme ve Hizmetimizi, ürünlerimizi, hizmetlerimizi değerlendirmek ve iyileştirmek gibi başka amaçlar için kullanabiliriz. , pazarlama ve deneyiminiz.</p>
                        </li>
                        </ul>
                        <p>Kişisel bilgilerinizi aşağıdaki durumlarda paylaşabiliriz:</p>
                        <ul>
                        <li><strong>Hizmet Sağlayıcılarla:</strong> Kişisel bilgilerinizi Hizmetimizin kullanımını izlemek ve analiz etmek, Sizinle iletişime geçmek için Hizmet Sağlayıcılarla paylaşabiliriz.</li>
                        <li><strong>İş transferleri için:</strong> Kişisel bilgilerinizi herhangi bir birleşme, Şirket varlıklarının satışı, finansmanı veya Şirketimizin tamamının veya bir kısmının satın alınmasıyla bağlantılı olarak veya müzakereler sırasında paylaşabilir veya aktarabiliriz. başka bir şirkete iş.</li>
                        <li><strong>Bağlı Kuruluşlarla:</strong> Bilgilerinizi bağlı kuruluşlarımızla paylaşabiliriz; bu durumda, bu bağlı kuruluşların bu Gizlilik Politikasına uymalarını zorunlu kılacağız. İştirakler, ana şirketimizi ve bizim kontrol ettiğimiz veya Bizimle müşterek kontrolümüz altındaki diğer tüm yan kuruluşları, ortak girişim ortaklarını veya diğer şirketleri içerir.</li>
                        <li><strong>İş ortaklarıyla:</strong> Size belirli ürünler, hizmetler veya promosyonlar sunmak için Bilgilerinizi iş ortaklarımızla paylaşabiliriz.</li>
                        <li><strong>Diğer kullanıcılarla:</strong> Kişisel bilgileri paylaştığınızda veya diğer kullanıcılarla ortak alanlarda başka bir şekilde etkileşimde bulunduğunuzda, bu bilgiler tüm kullanıcılar tarafından görüntülenebilir vedışarıda herkese açık olarak dağıtılır.</li>
                        <li><strong>Rızanız ile</strong>: Kişisel bilgilerinizi Sizin rızanız ile başka herhangi bir amaçla ifşa edebiliriz.</li>
                        </ul>
                        <h2>Kişisel Verilerinizin Saklanması</h2>
                        <p>Şirket, Kişisel Verilerinizi yalnızca bu Gizlilik Politikasında belirtilen amaçlar için gerekli olduğu sürece saklayacaktır. Kişisel Verilerinizi, yasal yükümlülüklerimize uymak (örneğin, geçerli yasalara uymak için verilerinizi saklamamız gerekiyorsa), anlaşmazlıkları çözmek ve yasal anlaşmalarımızı ve politikalarımızı uygulamak için gerekli olduğu ölçüde saklayacak ve kullanacağız.</ p>
                        <p>Şirket, Kullanım Verilerini dahili analiz amacıyla da saklayacaktır. Kullanım Verileri, bu verilerin, Hizmetimizin güvenliğini güçlendirmek veya işlevselliğini geliştirmek için kullanıldığı durumlar veya yasal olarak bu verileri daha uzun süreler boyunca tutmak zorunda olduğumuz durumlar dışında, genellikle daha kısa bir süre boyunca saklanır.</p>
                        <h2>Kişisel Verilerinizin Aktarılması</h2>
                        <p>Kişisel Veriler de dahil olmak üzere bilgileriniz, Şirketin faaliyet ofislerinde ve işlemeye dahil olan tarafların bulunduğu diğer herhangi bir yerde işlenir. Bu, bu bilgilerin sizin eyaletinizin, ilinizin, ülkenizin veya diğer resmi yargı yetkisinin dışında bulunan ve veri koruma yasalarının Sizin yetki alanınızdan farklı olabileceği bilgisayarlara aktarılabileceği ve bu bilgisayarlarda saklanabileceği anlamına gelir.</p>
                        <p>Bu Gizlilik Politikasına verdiğiniz onayın ardından bu tür bilgileri göndermeniz, bu aktarıma ilişkin sözleşmenizi temsil eder.</p>
                        <p>Şirket, verilerinizin güvenli bir şekilde ve bu Gizlilik Politikasına uygun olarak ele alındığından emin olmak için makul olarak gerekli tüm adımları atacaktır ve aşağıdakiler dahil olmak üzere yeterli kontroller olmadığı sürece Kişisel Verileriniz bir kuruluşa veya ülkeye aktarılmayacaktır. Verilerinizin ve diğer kişisel bilgilerinizin güvenliği.</p>
                        <h2>Kişisel Verilerinizin İfşası</h2>
                        <h3>Ticari İşlemler</h3>
                        <p>Şirket bir birleşme, devralma veya varlık satışına dahil olursa, Kişisel Verileriniz aktarılabilir. Kişisel Verileriniz aktarılmadan ve farklı bir Gizlilik Politikasına tabi olmadan önce bildirimde bulunacağız.</p>
                        <h3>Kolluk yaptırımı</h3>
                        <p>Belirli koşullar altında, kanunen veya resmi makamların (örneğin bir mahkeme veya bir devlet kurumu) geçerli taleplerine yanıt olarak gerekli olması halinde Şirket'in Kişisel Verilerinizi ifşa etmesi gerekebilir.</p>
                        <h3>Diğer yasal gereksinimler</h3>
                        <p>Şirket, Kişisel Verilerinizi, bu tür bir eylemin aşağıdakiler için gerekli olduğuna iyi niyetle inanarak ifşa edebilir:</p>
                        <ul>
                        <li>Yasal bir yükümlülüğe uyun</li>
                        <li>Şirketin haklarını veya mülkiyetini koruyun ve savunun</li>
                        <li>Hizmetle bağlantılı olası suistimalleri önleyin veya araştırın</li>
                        <li>Hizmet Kullanıcılarının veya halkın kişisel güvenliğini koruyun</li>
                        <li>Yasal sorumluluğa karşı koruyun</li>
                        </ul>
                        <h2>Kişisel Verilerinizin Güvenliği</h2>
                        <p>Kişisel Verilerinizin güvenliği Bizim için önemlidir, ancak İnternet üzerinden hiçbir aktarım yönteminin veya elektronik depolama yönteminin %100 güvenli olmadığını unutmayın. Kişisel Verilerinizi korumak için ticari olarak kabul edilebilir yöntemler kullanmaya çalışsak da, bunların mutlak güvenliğini garanti edemeyiz.</p>
                        <h1>Çocukların Gizliliği</h1>
                        <p>Hizmetimiz 13 yaşın altındaki hiç kimseye hitap etmez. 13 yaşın altındaki hiç kimseden bilerek kişisel olarak tanımlanabilir bilgiler toplamıyoruz. Bir ebeveyn veya vasi iseniz ve çocuğunuzun Bize Kişisel Bilgiler sağladığının farkındaysanız Veri, lütfen bizimle iletişime geçin. Ebeveyn izni doğrulaması olmadan 13 yaşın altındaki herhangi birinden Kişisel Veri topladığımızı fark edersek, bu bilgileri sunucularımızdan kaldırmak için adımlar atarız.</p>
                        <p>Bilgilerinizi işlemek için yasal dayanak olarak onaya güvenmemiz gerekiyorsa ve ülkeniz bir ebeveynden onay gerektiriyorsa, bu bilgileri toplamadan ve kullanmadan önce ebeveyninizin onayını isteyebiliriz.</p>
                        <h1>Diğer Web Sitelerine Bağlantılar</h1>
                        <p>Hizmetimiz, Bizim tarafımızdan işletilmeyen diğer web sitelerine bağlantılar içerebilir. Bir üçüncü şahıs bağlantısına tıklarsanız, o üçüncü şahsın sitesine yönlendirileceksiniz. Ziyaret ettiğiniz her sitenin Gizlilik Sözleşmesi'ni gözden geçirmenizi şiddetle tavsiye ederiz.</p>
                        Ziyaret ettiğiniz her sitenin boşluk Politikası.</p>
                        <p>Üçüncü taraf sitelerinin veya hizmetlerinin içeriği, gizlilik politikaları veya uygulamaları üzerinde hiçbir kontrole sahip değiliz ve sorumluluk kabul etmiyoruz.</p>
                        <h1>Bu Gizlilik Politikasındaki Değişiklikler</h1>
                        <p>Gizlilik Politikamızı zaman zaman güncelleyebiliriz. Yeni Gizlilik Politikasını bu sayfada yayınlayarak sizi tüm değişikliklerden haberdar edeceğiz.</p>
                        <p>Değişiklik yürürlüğe girmeden ve bu Gizlilik Politikasının üst kısmındaki "Son güncelleme" tarihini güncellemeden önce, e-posta ve/veya Hizmetimizle ilgili göze çarpan bir bildirim yoluyla sizi bilgilendireceğiz.</p>
                        <p>Herhangi bir değişiklik için bu Gizlilik Politikasını periyodik olarak gözden geçirmeniz önerilir. Bu Gizlilik Politikasındaki değişiklikler, bu sayfada yayınlandıklarında geçerli olur.</p>
                        <h1>Bize Ulaşın</h1>
                        <p>Bu Gizlilik Politikası hakkında herhangi bir sorunuz varsa, bizimle iletişime geçebilirsiniz:</p>
                        <ul>
                        <li>E-posta ile: <%=themeConfig.gizlilikpolitikasi.destekmail%></li>
                        </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <%-include('partials/footer.ejs')%>
         </div>
      </div>
      <script src="assets/node_modules/jquery/jquery.min.js"></script>
      <script src="assets/node_modules/bootstrap/js/popper.min.js"></script>
      <script src="assets/node_modules/bootstrap/js/bootstrap.min.js"></script>
      <script src="js/perfect-scrollbar.jquery.min.js"></script>
      <script src="js/waves.js"></script>
      <script src="js/sidebarmenu.js"></script>
      <script src="js/custom.min.js"></script>
      <script src="assets/node_modules/peity/jquery.peity.min.js"></script>
      <script src="assets/node_modules/peity/jquery.peity.init.js"></script>
      <script src="https://assistants.ga/purecookie.js"></script>
   </body>
</html>